@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*{
font-family: "Nunito";
font-weight: 800;
}
header{
text-transform: uppercase;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}