@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*{
font-family: "Nunito";
font-weight: 800;
}
header{
 z-index: 2;
}
.detail{
    border-radius: 0px 50px 0px 50px;
}    
#mobile-menu{
    z-index: 2;
}