@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Nunito";
  font-weight: 800;
  color: #0f172b;
}
hr {
  color: #000;
  background: #000;
  width: 90%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier {
  height: 40vh;
}
.panier-info {
  h1 {
    font-size: 40px;
  }
}
.panier-prix {
  background: #fea116;
  height: 100%;
  width: 30%;
}
i {
  color: #fea116;
  font-size: 40px;
}
.panier-plat {
  input {
    background: #0f172b;
    color: #fea116;
    width: 60px;
  }
  select,
  option {
    background: #0f172b;
    color: #fea116;
    width: 60px;
  }
  label {
    color: #fea116;
  }
}

img {
  width: 80px;
  height: 80px;
}
