body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier {
  width: 60vw;
  height: 40vh;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier-info {
  width: 70%;
  height: 100%;
}
.panier-prix {
  background: #f50;
  height: 100%;
  width: 30%;
}
#p-t {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}
i {
  color: #fea116;
  font-size: 32px;
}
