@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Nunito";
  font-weight: 800;
  color: #0f172b;
}
hr {
  color: #0f172b;
  background: #0f172b;
  width: 90%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.panier-info {
  h1 {
    font-size: 40px;
  }
}
.panier-prix {
  background: #fea11655;
  backdrop-filter: blur(100px);
}
i {
  color: #fea116;
  font-size: 40px;
}
.panier-plat {
  input {
    background: #0f172b;
    color: #fea116;
    width: 60px;
  }
  select,
  option {
    background: #0f172b;
    color: #fea116;
    width: 60px;
  }
  label {
    color: #fea116;
  }
}

img {
  width: 80px;
  height: 80px;
}
.panier {
  height: 400px;
}
.panier-prix {
  height: 100%;
}
#commander {
  background: #0f172b;
  color: #fea116;
  border: solid 1px #0f172b;
  transition: 0.5s;
}
#commander:hover {
  background: #fea116;
  color: #0f172b;
  border: solid 1px #0f172b;
}

@media screen and (max-width: 400px) {
  .panier {
    height: 90%;
    width: 90%;
    flex-direction: column;
    border-radius: 0;
  }
  .panier-prix {
    width: 100%;
    border-radius: 0;
  }
}
